<form [formGroup]="LoginForm" (ngSubmit)="handleSubmit()">
  <h1 class="text-center">Login</h1>
  <div class="mb-3">
    <label for="email">Email</label>
    <input type="email" class="form-control" formControlName="email" />
    <div
      *ngIf="LoginForm.get('email')?.errors && LoginForm.get('email')?.touched"
    >
      <p
        class="text-danger"
        *ngIf="LoginForm.get('email')?.errors?.['required']"
      >
        Email là trường bắt buộc
      </p>

      <p class="text-danger" *ngIf="LoginForm.get('email')?.errors?.['email']">
        Email chưa đúng định dạng
      </p>
    </div>
  </div>
  <div class="mb-3">
    <label for="password">Password</label>
    <input type="password" class="form-control" formControlName="password" />
    <div
      *ngIf="
        LoginForm.get('password')?.errors && LoginForm.get('password')?.touched
      "
    >
      <p
        class="text-danger"
        *ngIf="LoginForm.get('password')?.errors?.['required']"
      >
        password là trường bắt buộc
      </p>

      <p
        class="text-danger"
        *ngIf="LoginForm.get('password')?.errors?.['minlength']"
      >
        password phải trên 6 ký tự
      </p>
    </div>
  </div>
  <button class="btn btn-primary w-100">Submit</button>
</form>
