<table class="table table-hover table-striped table-dark table-bordered">
  <thead>
    <tr>
      <th scope="col">Id</th>
      <th scope="col">Title</th>
      <th scope="col">Price</th>
      <th scope="col">Description</th>
      <th scope="col">thumbnail</th>
      <th scope="col">Action</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let product of products">
      <td>{{ product.id }}</td>
      <td>{{ product.title }}</td>
      <td>{{ product.price }}</td>
      <td>{{ product.description }}</td>
      <td>
        <img src="{{ product.thumbnail }}" alt="{{ product.title }}" />
      </td>
      <td>
        <button
          class="btn btn-primary w-100 mb-3"
          [routerLink]="['/edit-product', product.id]"
        >
          Edit Product
        </button>
        <button
          class="btn btn-danger w-100"
          (click)="deleteProduct(product.id)"
        >
          Delete Product
        </button>
      </td>
    </tr>
  </tbody>
</table>
